extends layout
block content
    .container(style="margin-top:50px;")
        for project in projects
            .col-xs-12.col-sm-12.col-md-12.col-lg-12
                h1 #{project.ns}/#{project.project}
                    .btn-group.btn-group-xs(style="margin-left:20px")
                        a.btn.btn-primary(href="/project/#{project.ns}/#{project.project}/index.html") Proto
                        a.btn.btn-default(href="/project/#{project.ns}/#{project.project}/index") Doc
                p= project.desc
                hr